body {
  background-image: cover;
  background-color: #DDD;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  max-height: 100%;
}

.flicker {
  background-color: none;
  display: none;

}

header {
  padding: 25px;
  margin: 0 0 40px 0;
  width: 100%;
  height: 90px;
  background-color: #FFF;
  box-shadow: 0 0 0.5em #444;
}

h1 {
  padding: 5px;
  font-size: 3em;
  font-weight: bold;
}
h3 {
  padding: 5px;
  font-size: 1.5em;
}

main {
  height: 580px;
  margin: 40px;
  color: #00EE00;
  text-align: center;

}

div.display {
  background-color: #222;
  height: 180px;
  width: 666px;
  text-align: left;
  box-shadow: 0 0 2em #222;
  margin: 0 auto;
  margin-bottom: 50px;

}

p.information {
  width: 430px;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 1em;
}
p.tosolve {
  font-size: 2em;
}

div.vitalStats {
  background-color: #222;
  text-align: left;
  margin: 0 0 0 0;
  float: right;
  height: 50px;
  width: 170px;

}

div.terminalMock {
  background-color: black;
  height: 150px;
  width: 526px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 2em black;
}

/*#noCaesar {
  color: inherit;
  background-color: black;
  border: 2px solid green;
  height: 50px;
  width: 70px;
  margin-top: 10px;
}*/

.button {
  height: 60px;
  width: 120px;
  border: 4px solid green;
  font-family: inherit;
  font-size: 1.1em;
  color: #00FF00;
  background-color: #444;
  z-index: -1;
}

#start {
  height: 60px;
  width: 120px;
  border: 4px solid green;
  font-family: inherit;
  font-size: 1.1em;
  color: #00FF00;
  background-color: #444;
  z-index: -1;
}

#start:hover {
    opacity: 1;
    animation: fade 3s infinite;
}

#start:click {
  opacity: 1;
  animation: fade 3s infinite;
}

@keyframes fade {
  20%,100% {opacity: 0.2 }
  50% { opacity: 1 }
}

span {
  float: left;
  padding-left:3px;
  white-space: pre;
}
div.termInput {
  display: inline;
}

#fakeCursor {
  float: left;
  width: 5px;
  height: 15px;
  background: #00FF00;

}

p.termInput {
  font-size: 1.1em;
  text-align: left;
  margin-top: 150px;
}

input {
  left: -1000px;
	position: absolute;
  border: none;
  -webkit-appearance: none;
}

button.collectUserInput {
  display: none;
}

footer {
  height: 100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

nav {
  text-align: center;
  margin: 0 auto;
}

nav li {
  float: left;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  text-align: center;
}
